@model PizzariaPremiato.Models.Request.PizzaRequest
@using PizzariaPremiato.Models

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

@{

    List<CategoriaModel> lstCategoria = (List<CategoriaModel>)TempData["lstCategoria"];
}

<h2 class="text-center">Cadastrar</h2>

<h4 class="text-center text-primary">Item do Cardápio</h4>
<hr />
<div class="row">
    <div class="col-md-10 offset-md-1">
        <form method="post" enctype="multipart/form-data" asp-controller="Pizza" asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-2">
                <label asp-for="Nome" class="control-label" style="font-weight:bold;">Nome</label>
                <input name="Nome" class="form-control" />
                @Html.ValidationMessage("Nome", new { @class = "text-danger" })
            </div>
            <div class="form-group mb-2">
                <label asp-for="Descricao" class="control-label" style="font-weight:bold;">Descrição</label>
                <input name="descricao" class="form-control" />
                @Html.ValidationMessage("Descricao", new { @class = "text-danger" })
            </div>                        

            <div class="form-group mb-2">
                <label asp-for="Valor" class="control-label" style="font-weight:bold;">Valor</label>
                <input name="Valor" id="idValor" class="form-control real" />                
                @Html.ValidationMessage("Valor", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-2">
                <label asp-for="CategoriaId" class="control-label" style="font-weight:bold;">Seleciona uma Categoria</label>

                <select name="CategoriaId" class="form-control">
                    @foreach (var c in lstCategoria)
                    {
                        <option value="@c.Id">@c.Nome</option>

                    }
                </select>
                @Html.ValidationMessage("CategoriaId", new { @class = "text-danger" })
            </div>

            <br />

            <div class="form-group mb-2">
                <label asp-for="Foto" class="control-label" style="font-weight:bold;">Foto</label>

                <input type="file" name="Foto" />

                @Html.ValidationMessage("Foto", new { @class = "text-danger" })
            </div>


            <hr />
            <div class="form-group float-end">

                <div class="d-grid gap-2">
                    <input type="submit" value="Cadastrar" class="btn btn-primary btn-block" />
                    <a href="@Url.Action("Index", "Pizza")" class="btn btn-outline-warning btn-block">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>



